body{

	background-image: url(images/familydinner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#headder{
	background-color: white;
	border-bottom-style: solid;
	padding-left: 20pt;
}

#title{
	display: inline-block;
	font-size: 20pt;
	padding-right: 25pt;
}

#subTitle{
	font-size: 10pt;
	display: inline-block;

}

#welcome{
	width: 30%;
	background-color: white;
}