html{
	border-left: 7pt solid #fbfbfb;
	border-right: 7pt solid #fbfbfb;
}

::-webkit-scrollbar { 
    display: none; 
}

#wrapper{
	position: relative;
	min-height: 100%;
}

body{
	background-image: url("images/dark-wood-and-vegetables.jpg");
	background-color: #fbfbfb;
	background-size: cover;
	background-repeat: no-repeat;
}

h2{
	color: #BFB391;
}

#FourthView{
	color: #fbfbfb;
}

#FourthView img{
	height: 150pt;
	width: 150pt;
	border: 2pt solid #fbfbfb;
	border-radius: 75pt;
}

#FourthView .foodTitle{
	text-align: center;
}

#FourthView .panel{
	background:none;
}

.foodDesc{
	height: 81pt;
  	overflow-y: auto;

}

.container-fluid{
	padding-bottom: 7pt;
	padding-left: 0pt;
	padding-right: 0pt;
}


#bottomBorder{
	width:100%;
	height:7pt;
	position:fixed;
	bottom:0;
	left:0;
	background:#fbfbfb;
}


#headder{
	background-color: #fbfbfb;
	padding: 10pt;
	padding-left: 25pt;
	height: 65pt;
	z-index: 100;
	position: relative;

}


#headder a {
    color: #000000;
}

.floatL{
	float: left;
}


.floatR{
	float: right;
}



#mealType{
	
	margin-left: 10pt;
}


#homeletteButton{
	border-radius: 2px;
	box-shadow: none;
	color: #fff;
	background-color: #CABE9A;
	border-style: none;
	padding-top: 7pt;
	padding-right: 10pt;
	padding-left: 10pt;
}

#confirmDinner{
	border-radius: 2px;
	box-shadow: none;
	color: #fff;
	background-color: #CABE9A;
	border-style: none;
	padding-top: 7pt;
	padding-right: 10pt;
	padding-left: 10pt;
	margin-top: 0 !important;
}

#homeletteButton:hover{
	background-color: #BFB391;
}



.inline{
	float: left;
	margin-left: 30pt;
}


#title{
	font-family: 'Cuprum', sans-serif;
	font-weight: 800;
	display: inline-block;
	font-size: 27pt;
	padding-right: 25pt;
	color: #CABE9A;

}


#subTitle{
	font-family: 'Cuprum', sans-serif;
	font-size: 10pt;
	display: inline-block;
	color: #CABE9A;


}


#welcome{
	background-color: #fbfbfb;
	margin-top: 20%;
	width: 25%;
	min-width: 400px;
	margin-left: -26%;
}

.row{
	margin-left: 0pt !important;
}

.panel-default{§
	border:none !important;
}


.panel-body{
	background-color: #fbfbfb !important;
}

.panel-heading{
	background-color: #fbfbfb !important;
}

/*#welcome div.panel-heading{
	background-color: #fbfbfb;
}*/



#welcome p{
	font-size: 10pt;
}


#welcomeTitle{
	font-family: 'Cuprum', sans-serif;
	font-size: 20pt;
	color: #CABE9A;
	padding-top: 7pt;
}


#desc{
	border-style: solid;
	border-left: none;
	border-right: none;
}


#rightDiv{
	float: right;
	width: 65%;

}


#dDesc{

	height: 45px;
	border-top-style: solid;
	border-bottom-style: solid;
	background-color: #DADADA;
	margin: 10px 0px 10px 0px;
}

#dAdded{
	min-height: 45px;
	margin: 10px 0px 10px 0px;
	display: block;
}

#dAddedR{
	border: 1px solid rgb(221, 221, 221);
	background-color: #EEEEEE;
	border-radius: 3px;
	min-height: 45px;
	display: block;
	margin-bottom: 5px;
}

#dPending{
	min-height: 45px;
	margin: 10px 0px 10px 0px;
	display: block;
}


.foodDesc p {
	margin: 5pt;
}

.foodChoice{
	width: 100%;
	display: block;
}

.middle{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#dName{
	display: inline-block;
	margin: 7px;
	
}

#tCost{
	text-align: right;
	float: right;
}


#rightTop{
	margin-bottom: 0pt;
	border: none;
	border-radius: 0;
	background-color: #fbfbfb;
}

#rightBottom{
	
	height: 400pt;
	overflow-y: scroll;
	overflow-x: hidden;

}

#rightBottomInner{
	margin-top: 0px;
}

.foodItem{
	width: 200px;
	height: 300px;
	min-width: 140px;
	display: inline-block;
	margin: 10pt;
	overflow: hidden;
	border-style:solid;
	border-color: #DADADA;
	border-width: 2px;

	border-radius:5px 5px 0px 0px;

}

.foodPic img{
	width: 200px;
	height: 150px;
	border-radius: 5px 5px 0px 0px;
	
}

#rightDivPrep{
	min-width: 500px;
	float:right;
}

#rightDivRecepie{
	height:100%;
	float: right;
	padding-bottom: 10pt;
}

.subTitle2{
	font-size: 30pt;
}

.subMenu{
	padding: 5pt;
	height:35pt;
	background-color: #FFE599;
	border-bottom-style: solid;
	padding-left: 20pt;
}

#ingredients{
	width: 100%;
}

#headLine{
	font-size: 15pt;
	padding-top: 10pt;
}


.subHeadder{

	width: 100%;
	padding: 1.5%;
	color: #CABE9A;
	background-color: rgba(45, 45, 45, 0.64);
}

#mainWindow{
	margin: 0 auto;
	display: inline-block;

}
#mainView{
	position: absolute;
}

.foodIcons{
	width: 200px;
	float: left;
	margin: 30px;
}


#upperDish{
	display: block;
	margin: 20px;
	color: #fbfbfb;
}

#upperDish img{
	height: 150pt;
	width: 150pt;
	border: 2pt solid #fbfbfb;
	border-radius: 75pt;
}

.white-panel{
	background-color: #fbfbfb;

}

#leftMenu{
	margin-top:0pt;
	background-color: #fbfbfb;
	height:20%;
	padding: 0pt;
}

#frameLeftMenu{
	border: 1pt solid;
	border-color: #BFB391;
	border-radius: 4pt;
	padding: 10pt;
}

<<<<<<< HEAD
=======

>>>>>>> 37834fbc06c71b89b2a249f346181a7ed22c0c78
#concludeDinner{
	border-left-style: solid;
	
	height: 250px;
}

#concludeDinner p{
	margin-top: 25%;
	text-align: center;
	font-size: 25pt;
}

#concludeDinner #totalCost{
	margin-left: 45%;
	font-size: 25pt;
}

#concludeDinner #p2{
	margin-left: 45%;
	font-size: 25pt;
}
