<!-- People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/> -->

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->
<div id = "leftMenu" class="leftMenu col-xs-3">
	<div class = "panel-body ">
		<h2>My Dinner</h2>
		<div id = "frameLeftMenu">
			People: <input type="number" 
			ng-model="numberOfGuests" 
			ng-change="setNumberOfGuest(numberOfGuests)"/>

			Number of guests: {{getNumberOfGuests()}}

			<div id= "dDesc">
				<div><p><span class="dName col-xs-6">Dish Name</span><span class="dCost">Cost</span></p></div>
			</div>

			<div id ="dAdded">
				<!-- Här kommer de tilaggda rätterna -->
				{{updateMenu()}}
			</div>

			<div id= "dPending">
				<!-- Här kommer den pendingande rätten -->
				<p class="dName col-xs-6"><span>Pending: </span></p>
				<p class="col-xs-1 dName">{{getIngCost()}}</p>
				
			</div>

			<hr size="3">
			<div id="tCost">
				<p id>SEK <span id = "totalCost"></span></p>
			</div>

			<a ng-href="{{link}}"><button ng-click="confirmDinner()" type="button" id = "confirmDinner" class="btn btn-default">Confirm Dinner</button></a>
		</div>
	</div>
</div><!--leftMenu-->

<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
<!-- Total number of guest: {{getNumberOfGuests()}} -->