<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->

<div id = "rightDivPrep" class="panel panel-default col-xs-8">

	<img class="ng-show" id="load" src="images/puhfood.gif">

	<div class="ng-hide jumbotron">
 		<h2>Something wierd happened!</h2>
 			<p></br>The food-server yeald an error. Please check your internet connection and try again.</p>
	</div>


		<div id= "leftDivRecepie" class = "ng-hide panel panel-default col-md-6 col-xs-6">
			<div id="prepDish">
				<!--Preparation instructions for dish is shown here-->

				<h2 id ="dishHeadder" rel ="'+ data['dishId']+'">{{dish.Title}}</h2>
				<img ng-src="{{dish.ImageURL}}">
				<p>{{dish.Instructions}}</p>

			</div>

			<a href="#/search"><button ng-click="resetCurrentDish()" type="button" id ="backButton" class="backToEdit btn btn-warning">Back to Select Dish</button></a>
			
		</div><!--rightDivPrep-->
		
	
		<div id= "rightDivRecepie" class = "ng-hide panel panel-default col-xs-6">
			
			<p id="headLine">Ingredients For {{getNumberOfGuests()}} People</p>

			<hr>

			<table id = "ingredients">
				<tr ng-repeat = "ingredients in dish.Ingredients">
					<td class="col-xs-2">{{ingredients.Quantity.toFixed(2) * getNumberOfGuests()}} {{ingredients.Unit}}</td>
					<td class="col-xs-6">{{ingredients.Name}}</td>
					<td>SEK</td>
					<td>{{ingredients.Quantity.toFixed(2) * getNumberOfGuests()}}</td>
				</tr>
			</table>

			<hr>

			<div>

				<a href="#/search"><button ng-click="addDishToMenu()" type="button" id = "confirmDish" class="floatL btn btn-warning">Confirm Dish</button></a>

				<span  id ="dishCost" class="floatR">Dish Cost: {{getIngCost() * getNumberOfGuests()}}</span> <!--View ska styra över totalkostnaden-->
			
			</div>
	
		</div>
	</div>
