<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->

<div id = "rightDivPrep" class="panel panel-default col-xs-8">

		<div id= "leftDivRecepie" class = "panel panel-default col-md-6 col-xs-6">
			<div id="prepDish">
				<!--Preparation instructions for dish is shown here-->
			</div>
			<a href="#/search" type="button" id ="backButton" class="backToEdit btn btn-warning">Back to Select Dish</a>
			
		</div><!--rightDivPrep-->
		
	
		<div id= "rightDivRecepie" class = "panel panel-default col-xs-6">
			
			<p id="headLine">Ingredients For {{getNumberOfGuests()}} People</p>

			<hr>

			<table id = "ingredients">
				

			</table>

			<hr>
			<div>

				<a ng-click="addDishToMeny()" ng-href="#/search" type="button" id = "confirmDish" class="floatL btn btn-warning">Confirm Dish</a>

				<span  id ="dishCost" class="floatR">{{getIngCost}}</span> <!--View ska styra över totalkostnaden-->
			
			</div>
	
		</div>
	</div>
