<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<!-- <a href="#/search" class="btn btn-primary">Create new dinner</a> -->

<div id = "mainView" style="padding:0pt;" class="container-fluid">
				
	<div class="panel-default" id="welcome">

		<div style = "border:none;" class="panel-heading">
			<h3 class="panel-title" id="welcomeTitle">A Home Dinner Service</h3>
			<hr style="border-top: 1px solid #ddd;">
			</div>

			<div style = "padding-top: 0pt;" class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales tempus pellentesque. Vestibulum convallis ullamcorper sollicitudin. Integer ut faucibus sapien, eget feugiat risus. Aliquam nisi erat, posuere nec euismod eu, fermentum nec nisl. Aenean id ornare nunc. Nunc aliquam nisl magna. Proin id hendrerit urna.. </p>

				<button type="button" id = "homeletteButton" class = "floatR btn btn-warning">
					<p>Create new dinner</p>
				</button>
			
			</div><!--Välkomstext-->

	</div><!--ID welcome!-->

</div><!--mainView-->