

<div class = "subHeadder">
		<h3>MY DINNER: {{getNumberOfGuests()}} people</h3>
		<a href="#/search"><button  id = "subHeader-back-button" class=" backToEdit floatR btn btn-warning">Go back and edit dinner</button></a>
	</div>

	<div>
		
		<div id = "mainWindow" class="panel-default col-xs-6">
			<div id = "menuItem">
				<div class="foodIcons" ng-repeat="menuDish in getMenuDishes">

					<div class = "foodPic">
						<img ng-src="{{menuDish.ImageURL}}">
					</div>

					<div class = "foodTitle">
						<h4>{{menuDish.Title}}</h4>
						<span>SEK: {{dishCost(menuDish)}}</span>
					</div>

				</div>
			</div>
		</div>

		<div id = "concludeDinner" class=" panel-default col-xs-3">
			<p>Total cost: </p>
			<span id = "totalCost"></span>
		</div>

		<div class="panel-default col-xs-12">

			<button type="button" id = "printRecipe" class="btn btn-warning" style="margin-left: 35.5%;height: 50pt;width: 355pt;">Print Recipe</button>
		</div>
	</div>
</div><!-- ForuthView-->