<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->
<div id="rightDiv">
	<div id="rightTop" class="panel panel-default">

		<div class="panel-heading">
			<h3 class="panel-title" id="welcomeTitle">Select Disch</h3>
		</div>

		<div class="row panel-body">

			<input type="text" ng-model="usrInput" id ="mainSearch" class="form-control" maxlength="30" placeholder="Enter key words"/>
				    		
			<button ng-click="search(usrInput); showLoad()" id="sendSearch">Search Jao!</button>

		</div>
	</div> <!--RightTop-->

		<div id="rightBottom">

			<div class="panel panel-default" id="rightBottomInner">
				<div id = "dishList" class="panel-body">
					<!--Här sätter javascript in code-->
					<img class="ng-hide" id="load" src="images/puhfood.gif">

					<div class="ng-hide jumbotron">
				 		<h2>Something wierd happened!</h2>
				 			<p></br>The food-server yeald an error. Please check your internet connection and try again.</p>
					</div>

					<a ng-repeat="food in dishes" ng-href="#/dish/{{food.RecipeID}}"><div rel = "{{food.RecipeID}}" ng-click="setCurrentDish(food)" class="foodItem">
						<div class="foodHead">
							<div class = "foodPic">
								<img ng-src="{{food.ImageURL}}">
							</div>

							<div class = "foodTitle">
								<h4>{{food.Title}}</h4>
							</div>

						</div>
						
						<div class = "foodDesc">
							<p>{{food.Subcategory}}</p>
						</div>
					</div></a><!--FoodItem-->

				</div> 
			</div><!--Panel-->

		</div><!--rightBottom-->

</div> <!--rightDiv-->
		
